In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("ww-data-long-2023-05-02.csv")
df.head()

,Year,Metabolite,Site ID,Country,City,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Weekday mean,Weekend mean,Daily mean
0,2022,amphetamine,AT001,AT,Graz,24.00,20.90,24.22,27.86,28.27,23.80,22.20,22.37,26.03,24.46
1,2022,amphetamine,AT002,AT,Hall-Wattens,9.01,13.61,9.28,11.82,11.08,11.31,6.84,9.82,10.87,10.42
2,2022,amphetamine,AT004,AT,Innsbruck,10.18,9.80,11.70,16.02,14.86,13.35,19.45,13.14,13.98,13.62
3,2022,amphetamine,AT005,AT,Kapfenberg,32.16,28.14,30.94,21.49,21.35,23.80,12.96,24.42,24.40,24.41
4,2022,amphetamine,AT006,AT,Klagenfurt,6.74,6.87,12.77,9.57,11.62,7.86,6.65,6.76,10.46,8.87

In [24]:
df2 = df.drop(columns=['Site ID', 'City', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Weekday mean', 'Weekend mean'])
df3 = df2[df2['Year']>= 2020]

In [25]:
result_df = df3.groupby(["Country", "Year", "Metabolite"]).mean()
result_df

                              Daily mean
Country Year Metabolite
AT      2020 MDMA              14.054444
             amphetamine       18.161111
             cannabis          50.415556
             cocaine          182.066667
             methamphetamine    3.716667
...                                  ...
TR      2022 amphetamine       13.370000
             cannabis          22.910000
             cocaine           34.090000
             ketamine           3.300000
             methamphetamine   69.165000

[331 rows x 1 columns]

In [26]:
#  (litre/day), per day per 1 000 inhabitants
result_df

                              Daily mean
Country Year Metabolite
AT      2020 MDMA              14.054444
             amphetamine       18.161111
             cannabis          50.415556
             cocaine          182.066667
             methamphetamine    3.716667
...                                  ...
TR      2022 amphetamine       13.370000
             cannabis          22.910000
             cocaine           34.090000
             ketamine           3.300000
             methamphetamine   69.165000

[331 rows x 1 columns]

In [27]:
print("highest daily mean:")
print(result_df.idxmax())
print("lowest daily mean:")
print(result_df.idxmin())
print("overall mean")
print(result_df.mean())

highest daily mean:
Daily mean    (BE, 2022, cocaine)
dtype: object
lowest daily mean:
Daily mean    (ES, 2020, amphetamine)
dtype: object
overall mean
Daily mean    113.74004
dtype: float64

In [31]:
result_df = result_df.rename(columns={'Daily mean': 'litre/day per 1 000 inhabitants'})
result_df

                              litre/day per 1 000 inhabitants
Country Year Metabolite
SI      2022 MDMA                                    9.604286
             amphetamine                            16.637143
             cannabis                               63.855714
             cocaine                               279.407143
             ketamine                                0.955714
             methamphetamine                         2.501429
SK      2021 MDMA                                    3.195000
             amphetamine                            12.140000
             cannabis                               20.880000
             cocaine                                44.045000
             methamphetamine                       169.250000
        2022 MDMA                                    7.350000
             amphetamine                            14.760000
             cannabis                               34.180000
             cocaine                               133.925000
TR      2020 MDMA                                   28.630000
             cannabis                               25.850000
             cocaine                                29.665000
             methamphetamine                        28.830000
        2021 MDMA                                   13.680000
             amphetamine                             7.425000
             cannabis                               30.790000
             cocaine                                29.795000
             methamphetamine                        45.580000
        2022 MDMA                                    7.485000
             amphetamine                            13.370000
             cannabis                               22.910000
             cocaine                                34.090000
             ketamine                                3.300000
             methamphetamine                        69.165000

In [29]:
result_df.to_csv("../waste_water.csv")