In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv("ww-data-long-2023-05-02.csv")
df.head()

,Year,Metabolite,Site ID,Country,City,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Weekday mean,Weekend mean,Daily mean
0,2022,amphetamine,AT001,AT,Graz,24.00,20.90,24.22,27.86,28.27,23.80,22.20,22.37,26.03,24.46
1,2022,amphetamine,AT002,AT,Hall-Wattens,9.01,13.61,9.28,11.82,11.08,11.31,6.84,9.82,10.87,10.42
2,2022,amphetamine,AT004,AT,Innsbruck,10.18,9.80,11.70,16.02,14.86,13.35,19.45,13.14,13.98,13.62
3,2022,amphetamine,AT005,AT,Kapfenberg,32.16,28.14,30.94,21.49,21.35,23.80,12.96,24.42,24.40,24.41
4,2022,amphetamine,AT006,AT,Klagenfurt,6.74,6.87,12.77,9.57,11.62,7.86,6.65,6.76,10.46,8.87

In [71]:
df = df.drop(columns=['Site ID', 'City'])

In [72]:
result_df = df.groupby(["Country", "Year", "Metabolite"]).mean()

In [73]:
result_df

                              Wednesday  Thursday  Friday  Saturday  Sunday
Country Year Metabolite
AT      2015 MDMA                16.980    10.990   13.92     16.36   16.94  \
             amphetamine          0.000     0.000    0.00      0.00    0.00
             cocaine             78.990    66.720  122.87     99.68   76.73
             methamphetamine      0.000     0.000    0.00      0.00    0.00
        2016 MDMA                10.500     9.380   11.93     45.43   40.44
...                                 ...       ...     ...       ...     ...
TR      2022 amphetamine         12.960    15.470   11.03     12.74   13.30
             cannabis            24.730    25.350   17.64     20.43   23.66
             cocaine             30.145    36.210   26.00     38.13   37.93
             ketamine             3.120     4.200    2.80      3.13    3.20
             methamphetamine     63.710    73.825   61.02     70.19   73.30

                              Monday  Tuesday  Weekday mean  Weekend mean
Country Year Metabolite
AT      2015 MDMA              13.06     8.89        12.290        15.070  \
             amphetamine        0.00     0.00         0.000         0.000
             cocaine           85.37    53.34        66.350        96.160
             methamphetamine    0.00     0.00         0.000         0.000
        2016 MDMA              18.80    15.61        11.830        29.150
...                              ...      ...           ...           ...
TR      2022 amphetamine       14.75    13.31        13.910        12.950
             cannabis          25.46    23.07        24.380        21.800
             cocaine           38.59    31.62        32.655        35.165
             ketamine           3.53     3.15         3.490         3.160
             methamphetamine   75.82    66.28        67.940        70.080

                              Daily mean
Country Year Metabolite
AT      2015 MDMA                 13.880
             amphetamine           0.000
             cocaine              83.390
             methamphetamine       0.000
        2016 MDMA                 21.730
...                                  ...
TR      2022 amphetamine          13.370
             cannabis             22.910
             cocaine              34.090
             ketamine              3.300
             methamphetamine      69.165

[1015 rows x 10 columns]